body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.main-area {
    display: flex;
    padding: 20px;
    background-color: #0f64ff54;
}
.logo {
    display: flex;
    width: 36%;
    padding-left: 105px;
}
.logo h2 {
    margin:0;
    font-weight: 900;
    font-size: 36px;

}
.main-menu {
    display: flex;
    width: 60%;
}
.main-menu ul {
   list-style: none;
   text-decoration:none;
   display: flex;
}
.main-menu ul li a {
    padding: 10px 20px;
    margin: 0 25px;
    text-decoration: none;  
    font-size: 20px;
    font-weight: 700;
    color:#ffffff;

}
.top-area {
    display: flex;
    padding: 50px 0;
}
.logo h2{
    color: #ffffff;
}
.area-1 {
    width: 50%;
    padding: 5% 0 0 8%;
}
h2 span {
    color: #544BE7;
}
.area-1 h2 {
    font-size: 70px; 
    color: #595472;
    margin: 0 auto;
}
.area-1 p {
    width: 50%;
    padding-bottom: 30px;
}
.btn-1 {
    text-decoration: none;
    background-image: linear-gradient(285deg, #34aeff, blue);
    color: white;
    padding: 17px 45px;
    border-radius: 18px;
    box-shadow: 3px 1px 7px 1px #1e5797;
}
.section-2 {
    display: flex;
    background-image: url(img/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.about-me img {
    width: 100%;
}
.about-me {
    width: 50%;
    padding: 4% 50px 0px 10%;
}
.about-me-2 {
    padding: 8% 5% 1% 10%;
}
#about-heading {
    font-size: 50px;
    font-weight: 900;
}
#my-bio {
    padding: 5% 30% 6% 0%;
}
.s-3-title {
    text-align: center;
}
.s-3-title h2 {
    font-size: 50px;
    font-weight: 900;
}
.s-3-title p {
    width: 42%;
    margin: 0px auto;
}
.recipies-area {
    display: flex;
}
.recipies-title {
    padding: 26px 26px 26px 26px;
    box-shadow: 3px 1px 7px 1px #ece9e9;
    margin: 50px;
    border-radius: 29px;
}
.recipies-title img {
    max-width: 100%;
}
.recipies-title h2 {
    font-size: 30px;
    font-weight: 900;
}
.recipies-title p {
    margin: 2px 50px 2px 0px;
}
.section-4 {
    display: flex;
    box-shadow: 3px 1px 7px 1px #ece9e9;
    margin: 6% 3%;
    border-radius: 12px;
}
.counter-area {
    width: 30%;
    margin: 64px 50px 62px 50px;
    text-align: center;
}
.counter-area h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 0px auto;
}

.footer-area {
    background-color: #000000;
    color: #EBF8FF;
}
.last-area {
    text-align: center;
    padding: 20px 0px 20px 0px;
}
.last-area h2 {
    font-weight: 900;
    font-size: 30px;
}