body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.top-area {
    display: flex;
    padding: 50px 0;
}
.area-1 {
    width: 50%;
    padding: 8% 0 0 8%;
}
#h-color {
    color: blue;
}
.area-1 h2 {
    font-size: 70px; 
}
.btn-1 {
    text-decoration: none;
    background-image: linear-gradient(285deg, #34aeff, blue);
    color: white;
    padding: 10px 30px;
    border-radius: 18px;
}
.section-2 {
    display: flex;
    background-image: url(img/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.about-me img {
    width: 80%;
}
.about-me {
    width: 50%;
    padding: 4% 50px 0px 10%;
}
.about-me-2 {
    padding: 8% 5% 1% 10%;
}
#my-bio {
    padding: 5% 30% 6% 0%;
}
.s-3-title {
    text-align: center;
}
.recipies-area {
    display: flex;
}
.recipies-title {
    padding: 26px 26px 26px 26px;
    box-shadow: 3px 1px 7px 1px #ece9e9;
    margin: 50px;
    border-radius: 29px;
}
.recipies-title img {
    max-width: 100%;
}
.recipies-title h2 {
    font-size: 30px;
    font-weight: 900;
}
.recipies-title p {
    margin: 2px 50px 2px 0px;
}
.section-4 {
    display: flex;
    box-shadow: 1px 2px 16px 0px grey;
    margin: 1% 3%;
    border-radius: 12px;
}
.counter-area {
    width: 30%;
    margin: 40px 50px 40px 50px;
    text-align: center;
}
.counter-area h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 0px auto;
}